@model MenuViewModel

<h1 class="mb-4">Menü Oluştur</h1>
<form asp-action="MenuEkle" method="post" enctype="multipart/form-data">
    <div class="mb-2">
        <label asp-for="Ad">Ad</label>
        <input type="text" asp-for="Ad" class="form-control" />
    </div>  
    <div class="mb-2">
        <label asp-for="Fiyat">Fiyat</label>
        <input type="text" asp-for="Fiyat" class="form-control" />
    </div>
    <div class="mb-2">
        <label asp-for="Resim"></label>
        <input asp-for="Resim" type="file" class="form-control" />
        <span asp-validation-for="Resim" class="text-danger"></span>
    </div>

    <button class="btn btn-primary">Ekle</button>
</form>

